html,
body {
  margin: 0;
  padding: 0;
}

img {
  user-select: none;
}

@CDURed: #90000a;

.flex-centerX() {
  display: flex;
  justify-content: center;
}

.flex-centerXY() {
  .flex-centerX();
  align-items: center;
}

.top {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url(../img/ideal/background.jpeg) center center no-repeat;
    filter: blur(5px);
    z-index: -1;
    background-size: cover;
  }

  .title {
    .flex-centerX();
    padding: 200px;
    text-align: center;

    @keyframes myscale {
      from {
        scale: 1;
      }

      50% {
        scale: 1.08;
      }

      to {
        scale: 1;
      }
    }

    h1 {
      color: red;
      font-size: 70px;
      text-shadow: 2px 5px @CDURed;
      font-style: italic;
      position: relative;

      p {
        position: absolute;
        right: -100px;
        font-style: normal;
        font-size: 30px;
        top: 10px;
        transform: rotateZ(-12deg);
        color: yellow;
        text-shadow: 2px 3px black;
        z-index: 2;
        animation: myscale 1s infinite;
        -webkit-animation: myscale 1s infinite;
      }
    }
  }

  .btn {
    .flex-centerX();

    button {
      margin-top: 100px;
      width: 489px;
      height: 87px;
      background-image: url("https://test.nie.163.com/test_cdn/mc/pc/gw/20190918094936/img/title-1_5469679.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      color: #1f2509;
      font-size: 30px;
      line-height: 87px;
      font-weight: bold;
      text-align: center;
      text-indent: 0;
      overflow: hidden;
      outline: none;
      border: none;
      transition: .15s;
      background-color: transparent;
      cursor: pointer;

      &:active {
        background-size: 98% 98%;
        scale: .98;
      }
    }
  }
}

.box {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 10px;
  background-color: #eee;

  .swiper {
    width: 80%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

    .swiper-slide {
      background-size: cover;
      background-position: center;
      text-align: center;
      font-size: 18px;
      background: #fff;
      .flex-centerXY();

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }

  .mySwiper2 {
    height: 80%;
    width: 80%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;

    .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }

    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }
}